@import 'nib'

body
  margin 0
  font-family "Helvetica Neue", helvetica, arial, sans-serif
  font-size 15px
  line-height 2em

a
  color royalblue


h1
  margin 0
  padding 20px 0 10px
  font-size 28px

h2
  font-size 24px

h3
  font-size 18px
  font-weight bold

ul
  color #333

pre
  code
    padding 15px 20px
    display block
    background #eee
    border-radius 4px
    border-left 10px solid #999
    color #111
    font-family Monaco, DejaVu Sans Mono, Lucida Console, Courier New
    font-size 14px

blockquote
  margin 10px 0
  padding 10px 40px 10px 20px
  background #fcfcfc
  border-radius 10px
  border 1px solid #eee
  color #555
  text-shadow 0 -1px white

  p
    padding-left 0

p,ul
  code
    background #efefef
    padding 0.3em 0.4em

header
  clearfix()
  padding 20px 0
  background white
  border-bottom 1px solid #eee
  
  h1
    margin 0
    padding 0 0 0 20px
    display none
    font-size 34px
    float left

  .nav
    padding-right 20px
    float right

.nav
  margin 0
  padding 0
  list-style none
  
  li
    margin 0 0 0 10px
    padding 0
    display inline

.container
  width 960px
  margin 0 auto
  padding 30px 0

  h1,h2
    margin 30px 0 15px
    padding 0 0 10px
    border-bottom 1px solid #eee
    color #777
    font-weight normal


footer
  margin-top 20px
  padding 20px 0
  background-color #eee
  text-align right
  color #666
  
  p
    padding-right 20px

  a
    color #666
